<section id="selectionContainer" class="selection">
    <%- include('navigation') -%>
    <div class="selection__slider">
        <!-- 1 -->
        <%- include('slides/start') -%>
        <!-- 2 -->
        <%- include('slides/citySelection/slide') -%>
        <!-- 3 -->
        <%- include('slides/stopSelection/slide') -%>
        <!-- 4 -->
        <%- include('slides/finish') -%>
    </div>
</section>